/*
    Moppets style settings... [Design by Muppet].
*/
body
{
	/*
	font             : 100%/1.2em sans-serif;
	*/
	/*
	font-family        : adrinkforallages;
	font-family        : alphabetism;
	font-family        : arizona;
	font-family        : Jane-Austen;
	font-family        : Jellyka_Castles_Queen;
	font-family        : kkadpass;
	font-family        : radioactive;
	font-family        : resurgence;
	font-family        : sirtalksalot;
	font-family        : sketchrockwell;
	font-family        : splendid66;
	font-family        : tireshop;
	font-family        : tommys;
	*/
	font-family      : adrinkforallages;
	font-size        : 1.5em;
	font-weight      : normal;
	padding          : 20px 10%;
	margin           : 0;
	color            : #eee;
	/*
	background-color : #8CB7BA;
	background-color : #336;
	background-color : #366;
	*/
	background-color : #336;
}


h1, h2
{
	font-size   : 1.6em;
	font-weight : normal;
	margin      : 0;
}

h2
{
	font-size  : 1.3em;
	margin-top : 1.5em;
}

p.links
{
	font-size   : 1.6em;
	font-weight : normal;
	text-align  : center;
}

/* ability to make text glow when hovering over it */
a.glow, a.glow:hover, a.glow:focus
{
	text-decoration    : none;
	color              : #aaf;
	text-shadow        : none;
	-webkit-transition : 500ms linear 0s;
	-moz-transition    : 500ms linear 0s;
	-o-transition      : 500ms linear 0s;
	transition         : 500ms linear 0s;
	outline            : 0 none;
}

a.glow:hover, a.glow:focus
{
	color       : #fff;
	text-shadow : -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.textshadow a.backlit:hover, .textshadow a.backlit:focus
{
	color : #336;
}

#main
{
    height      : 500px;
    text-align  : center;
    font-size   : 1.5em;
    line-height : 15em;
}

#copyright
{
    text-align : right;
    font-size  : 0.6em;
}

#fade-transition
{
    float : left;
}



/*
    --------------------------------------------------------------------
*/

/*
    Fonts... grabbed from urbanfonts.com
*/
@font-face {
  font-family: 'Jane-Austen';
    src: url('../fonts/JaneAust.ttf') format('truetype');
}

@font-face {
  font-family: 'radioactive';
    src: url('../fonts/radioactive.ttf') format('truetype');
}

@font-face {
  font-family: 'tommys';
    src: url('../fonts/tommys.ttf') format('truetype');
}

@font-face {
  font-family: 'arizona';
    src: url('../fonts/arizona.ttf') format('truetype');
}

@font-face {
  font-family: 'resurgence';
    src: url('../fonts/resurgen.ttf') format('truetype');
}

@font-face {
  font-family: 'adrinkforallages';
    src: url('../fonts/A_Drink_For_All_Ages.TTF') format('truetype');
}

@font-face {
  font-family: 'alphabetism';
    src: url('../fonts/AnAlphaBetIsm.ttf') format('truetype');
}

@font-face {
  font-family: 'kkadpass';
    src: url('../fonts/kkadpass.ttf') format('truetype');
}

@font-face {
  font-family: 'Jellyka_Castles_Queen';
    src: url('../fonts/Jellyka_Castles_Queen.ttf') format('truetype');
}

@font-face {
  font-family: 'splendid66';
    src: url('../fonts/SplendidN.ttf') format('truetype');
}

@font-face {
  font-family: 'tireshop';
    src: url('../fonts/tireshop_demo.ttf') format('truetype');
}

@font-face {
  font-family: 'sirtalksalot';
    src: url('../fonts/SirTalksALot.TTF') format('truetype');
}

@font-face {
  font-family: 'sketchrockwell';
    src: url('../fonts/SketchRockwell-Bold.ttf') format('truetype');
}


/*
    ----- 404 ----- 404 ----- 404 ----- 404 ----- 404 ----- 404 -----
*/
.fourOhfour
{
	font-family      : tireshop;
	font-size        : 3.0em;
	font-weight      : normal;
}


#fourOhfour
{
    position           : absolute;
    background         : url(../images/fingerlove4.jpg) no-repeat;
    -webkit-transition : opacity .2s ease-in-out;
    -moz-transition    : opacity .2s ease-in-out;
    -o-transition      : opacity .2s ease-in-out;
    transition         : opacity .2s ease-in-out;
}

#fourOhfour:hover
{
    opacity : 0.30;
}

/*
    http://designfestival.com/how-to-create-a-flashy-menu-using-css

    Created by: http://designfestival.com/author/rrooney/

    NOTE: I had to modify some selectors so they didn't break
          the other code there.
*/

/* here goes css*/
body
{
    background: #fff url(../images/white_paperboard.png) repeat top right;
}

header, nav{
    display : block;
}


header .main {
    margin-bottom : 0;
    margin-left   : auto;
    margin-right  : auto;
    margin-top    : 0px;
    position      : relative;
    width         : 100%;
}

.main-h1 {
    margin-top : auto;
    padding    : 30px;
}


.main-ul li {
    float      : left;
    position   : relative;
    width      : 20%;
    text-align : center;
}



.main-ul li a {
    display            : block;
    padding-bottom     : 20px;
    padding-right      : 10px;
    padding-top        : 10px;
    padding-left       : 10px;
    text-decoration    : none;
    position           : relative;
    z-index            : 100;
    background-color   : rgba(164, 164, 164, 0.2);
    -webkit-transition : all 0.1s;
    -moz-transition    : all 0.1s;
    -o-transition      : all 0.1s;
    transition         : all 0.1s;
}

.main-ul li a span{
    display        : block;
    padding-top    : 10px;
    font-weight    : 700;
    font-size      : 20px;
    color          : rgba(120, 120, 120, 0.9);
    text-transform : uppercase;
    font-family    : 'Kotta One', serif;
}

.main-ul li:hover span{
    color: #fff;
}

.main-ul li:nth-child(1):hover a{
    background-color  : rgba(175,54,55,0.8);
    -moz-transform    : rotate(-11deg);
    -webkit-transform : rotate(-11deg);
    -o-transform      : rotate(-11deg);
    transform         : rotate(-11deg);
}
.main-ul li:nth-child(2):hover a{
    background-color  : rgba(199, 204, 73, 0.8);
    -moz-transform    : rotate(-11deg);
    -webkit-transform : rotate(-11deg);
    -o-transform      : rotate(-11deg);
    transform         : rotate(-11deg);
}
.main-ul li:nth-child(3):hover a{
    background-color  : rgba(213, 135, 11, 0.8);
    -moz-transform    : rotate(11deg);
    -webkit-transform : rotate(11deg);
    -o-transform      : rotate(11deg);
    transform         : rotate(11deg);
}
.main-ul li:nth-child(4):hover a{
    background-color  : rgba(51, 143, 144, 0.8);
    -moz-transform    : rotate(11deg);
    -webkit-transform : rotate(11deg);
    -o-transform      : rotate(11deg);
    transform         : rotate(11deg);
}
.main-ul li:nth-child(5):hover a{
    background-color  : rgba(117,18,98,0.8);
    -moz-transform    : rotate(-11deg);
    -webkit-transform : rotate(-11deg);
    -o-transform      : rotate(-11deg);
    transform         : rotate(-11deg);
}
.main-ul li:nth-child(6):hover a{
    background-color  : rgba(33, 136, 215, 0.8);
    -moz-transform    : rotate(-11deg);
    -webkit-transform : rotate(-11deg);
    -o-transform      : rotate(-11deg);
    transform         : rotate(-11deg);
}
.main-ul li:nth-child(7):hover a{
    background-color  : rgba(109, 109, 109, 0.8);
    -moz-transform    : rotate(11deg);
    -webkit-transform : rotate(11deg);
    -o-transform      : rotate(11deg);
    transform         : rotate(11deg);
}
.main-ul li:nth-child(8):hover a{
    background-color  : rgba(152, 120, 92, 0.8);
    -moz-transform    : rotate(11deg);
    -webkit-transform : rotate(11deg);
    -o-transform      : rotate(11deg);
    transform         : rotate(11deg);
}


h1 {
    position    : relative;
    padding-top : 300px;
    font-family : 'Kotta One', serif;
    font-weight : 300;
    font-size   : 28px;
    text-align  : center;
    color       : #097;
    text-shadow : 1px #ddd;
}


h2{
    text-align : center;
}


h2 a{
    position        : relative;
    font-family     : 'Kotta One', serif;
    font-weight     : 300;
    font-size       : 20px;
    line-height     : 30px;
    text-align      : center;
    text-decoration : none;
    color           : #666;
    text-shadow     : 0.5px #ddd;
}


