/*
    Moppets style settings... [Design by Muppet].
*/
body
{
        /*
        font             : 100%/1.2em sans-serif;
        */
        /*
        font-family        : adrinkforallages;
        font-family        : alphabetism;
        font-family        : arizona;
        font-family        : Jane-Austen;
        font-family        : Jellyka_Castles_Queen;
        font-family        : kkadpass;
        font-family        : radioactive;
        font-family        : resurgence;
        font-family        : sirtalksalot;
        font-family        : sketchrockwell;
        font-family        : splendid66;
        font-family        : tireshop;
        font-family        : tommys;
        */
        font-family : tireshop;
        font-size   : 1.2em;
        font-weight : normal;
        padding     : 20px 10%;
        margin      : 0;
        color       : #eee;
        /*
        background-color : #8CB7BA;
        background-color : #336;
        background-color : #366;
        */
        /*
        background-color : #336;
         */
        /*
         */
        background: #fff url(../images/white_paperboard.png) repeat top right;
}


h1, h2
{
        font-size   : 1.6em;
        font-weight : normal;
        margin      : 0;
}

h2
{
        font-size  : 1.3em;
        margin-top : 1.5em;
}

h3
{
        font-size   : 1.2em;
        font-weight : normal;
        margin      : 0;
}

p.links
{
        font-size   : 1.6em;
        font-weight : normal;
        text-align  : center;
}

/* ability to make text glow when hovering over it */
a.glow, a.glow:hover, a.glow:focus
{
        text-decoration    : none;
        color              : #aaf;
        text-shadow        : none;
        -webkit-transition : 500ms linear 0s;
        -moz-transition    : 500ms linear 0s;
        -o-transition      : 500ms linear 0s;
        transition         : 500ms linear 0s;
        outline            : 0 none;
}

a.glow:hover, a.glow:focus
{
    color       : #fff;
    text-shadow : -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.textshadow a.backlit:hover, .textshadow a.backlit:focus
{
    color : #336;
}

#main
{
    height      : 500px;
    text-align  : center;
    font-size   : 1.5em;
    line-height : 10em;
}

#copyright
{
    /*
    font-family : Jane-Austen;
    */
    font-family : tireshop;
    text-align  : right;
    font-size   : 0.8em;
    color       : #000;
}

#fade-transition
{
    float : left;
}



/*
    --------------------------------------------------------------------
*/

/*
    Fonts... grabbed from urbanfonts.com
*/
@font-face {
  font-family: 'Jane-Austen';
    src: url('../fonts/JaneAust.ttf') format('truetype');
}

@font-face {
  font-family: 'radioactive';
    src: url('../fonts/radioactive.ttf') format('truetype');
}

@font-face {
  font-family: 'tommys';
    src: url('../fonts/tommys.ttf') format('truetype');
}

@font-face {
  font-family: 'arizona';
    src: url('../fonts/arizona.ttf') format('truetype');
}

@font-face {
  font-family: 'resurgence';
    src: url('../fonts/resurgen.ttf') format('truetype');
}

@font-face {
  font-family: 'adrinkforallages';
    src: url('../fonts/A_Drink_For_All_Ages.TTF') format('truetype');
}

@font-face {
  font-family: 'alphabetism';
    src: url('../fonts/AnAlphaBetIsm.ttf') format('truetype');
}

@font-face {
  font-family: 'kkadpass';
    src: url('../fonts/kkadpass.ttf') format('truetype');
}

@font-face {
  font-family: 'Jellyka_Castles_Queen';
    src: url('../fonts/Jellyka_Castles_Queen.ttf') format('truetype');
}

@font-face {
  font-family: 'splendid66';
    src: url('../fonts/SplendidN.ttf') format('truetype');
}

@font-face {
  font-family: 'tireshop';
    src: url('../fonts/tireshop_demo.ttf') format('truetype');
}

@font-face {
  font-family: 'sirtalksalot';
    src: url('../fonts/SirTalksALot.TTF') format('truetype');
}

@font-face {
  font-family: 'sketchrockwell';
    src: url('../fonts/SketchRockwell-Bold.ttf') format('truetype');
}


/*
    ----- 404 ----- 404 ----- 404 ----- 404 ----- 404 ----- 404 -----
*/
.fourOhfour
{
        font-family      : tireshop;
        font-size        : 3.0em;
        font-weight      : normal;
}


#fourOhfour
{
    position           : absolute;
    background         : url(../images/fingerlove4.jpg) no-repeat;
    -webkit-transition : opacity .2s ease-in-out;
    -moz-transition    : opacity .2s ease-in-out;
    -o-transition      : opacity .2s ease-in-out;
    transition         : opacity .2s ease-in-out;
}

#fourOhfour:hover
{
    opacity : 0.30;
}

/*
    http://designfestival.com/how-to-create-a-flashy-menu-using-css

    Created by: http://designfestival.com/author/rrooney/

    NOTE: I had to modify some selectors so they didn't break
          the other code there.

    So... this won't really look like the original by the time
    I am done, but hopefully it is some kind of attribution.
*/

/* here goes css*/
header, nav
{
    display : block;
}


header .main 
{
    margin-bottom : 0;
    margin-left   : auto;
    margin-right  : auto;
    margin-top    : 0px;
    position      : relative;
    width         : 100%;
}

.main-h1 
{
    margin-top : auto;
    padding    : 30px;
}


.main-ul li 
{
    float      : left;
    position   : relative;
    width      : 20%;
    text-align : center;
}



.main-ul li a 
{
    display            : block;
    padding-bottom     : 20px;
    padding-right      : 10px;
    padding-top        : 10px;
    padding-left       : 10px;
    text-decoration    : none;
    position           : relative;
    z-index            : 100;
    background-color   : rgba(164, 164, 164, 0.2);
    -webkit-transition : all 0.1s;
    -moz-transition    : all 0.1s;
    -o-transition      : all 0.1s;
    transition         : all 0.1s;
}

.main-ul li a span
{
    display        : block;
    padding-top    : 10px;
    font-weight    : 700;
    font-size      : 20px;
    color          : rgba(120, 120, 120, 0.9);
    text-transform : uppercase;
    font-family    : splendid66;
    /*
    font-family    : tireshop, sans-serif;
    font-family    : 'Kotta One', serif;
    */
}

.main-ul li:hover span
{
    color: #fff;
}

.main-ul li:nth-child(1):hover a
{
    background-color  : rgba(175,54,55,0.8);
    -moz-transform    : rotate(-6deg);
    -webkit-transform : rotate(-6deg);
    -o-transform      : rotate(-6deg);
    transform         : rotate(-6deg);
}
.main-ul li:nth-child(2):hover a
{
    background-color  : rgba(199, 204, 73, 0.8);
    -moz-transform    : rotate(-6deg);
    -webkit-transform : rotate(-6deg);
    -o-transform      : rotate(-6deg);
    transform         : rotate(-6deg);
}
.main-ul li:nth-child(3):hover a
{
    background-color  : rgba(213, 135, 11, 0.8);
    -moz-transform    : rotate(6deg);
    -webkit-transform : rotate(6deg);
    -o-transform      : rotate(6deg);
    transform         : rotate(6deg);
}
.main-ul li:nth-child(4):hover a
{
    background-color  : rgba(51, 143, 144, 0.8);
    -moz-transform    : rotate(6deg);
    -webkit-transform : rotate(6deg);
    -o-transform      : rotate(6deg);
    transform         : rotate(6deg);
}
.main-ul li:nth-child(5):hover a
{
    background-color  : rgba(117,18,98,0.8);
    -moz-transform    : rotate(-6deg);
    -webkit-transform : rotate(-6deg);
    -o-transform      : rotate(-6deg);
    transform         : rotate(-6deg);
}
.main-ul li:nth-child(6):hover a
{
    background-color  : rgba(33, 136, 215, 0.8);
    -moz-transform    : rotate(-6deg);
    -webkit-transform : rotate(-6deg);
    -o-transform      : rotate(-6deg);
    transform         : rotate(-6deg);
}
.main-ul li:nth-child(7):hover a
{
    background-color  : rgba(109, 109, 109, 0.8);
    -moz-transform    : rotate(6deg);
    -webkit-transform : rotate(6deg);
    -o-transform      : rotate(6deg);
    transform         : rotate(6deg);
}
.main-ul li:nth-child(8):hover a
{
    background-color  : rgba(152, 120, 92, 0.8);
    -moz-transform    : rotate(6deg);
    -webkit-transform : rotate(6deg);
    -o-transform      : rotate(6deg);
    transform         : rotate(6deg);
}

.main-ul .top
{
    margin      : 0;
    padding     : 0 0 4px 0;
    font-size   : 1.4em;
    line-height : 100%;
    font-weight : normal;
    color       : #f5f5f5;
}

.main-ul .bottom
{
    margin      : 0;
    padding     : 0;
    font-size   : .75em;
    line-height : 100%;
    color       : #aaaaaa;
}


h1 
{
    position    : relative;
    padding-top : 300px;
    font-family : 'Kotta One', serif;
    font-weight : 300;
    font-size   : 28px;
    text-align  : center;
    color       : #097;
    text-shadow : 1px #ddd;
}


h2
{
    text-align : center;
}


h2 a
{
    position        : relative;
    font-family     : 'Kotta One', serif;
    font-weight     : 300;
    font-size       : 20px;
    line-height     : 30px;
    text-align      : center;
    text-decoration : none;
    color           : #666;
    text-shadow     : 0.5px #ddd;
}

#unsupported
{
    font-family : tireshop;
    /*
    font-family : sketchrockwell;
    font-family : Jane-Austen;
    */
    font-size   : 0.8em;
    color       : #000;
}


.email
{
    font-size   : 2.0em;
    color       : #123;
}

/*
span.char14
{
    font-size   : 1.5em;
    font-family : Jane-Austen;
}
*/

h3.email span:hover
{
    /*
    background-color  : rgba(175,54,55,0.8);
    -moz-transform    : rotate(-6deg);
    -webkit-transform : rotate(-6deg);
    -o-transform      : rotate(-6deg);
    transform         : rotate(-6deg);
    -moz-transform    : skew(5) rotate(-9deg) scale(2);
    -webkit-transform : skew(5) rotate(-9deg) scale(2);
    -o-transform      : skew(5) rotate(-9deg) scale(2);
    transform         : skew(5) rotate(-9deg) scale(2);
    -moz-transform    : rotate(10deg) scale(2);
    -webkit-transform : rotate(10deg) scale(2);
    -o-transform      : rotate(10deg) scale(2);
    transform         : rotate(10deg) scale(2);
    background-color  : rgba(175,54,55,0.8);
    -moz-transform    : translate(10px,100px) scale(2);
    -webkit-transform : translate(10px,100px) scale(2);
    -o-transform      : translate(10px,100px) scale(2);
    transform         : translate(10px,100px) scale(2);
    -moz-transform    : translateY(30px) scale(1.5) rotate(3deg);
    -webkit-transform : translateY(30px) scale(1.5) rotate(3deg);
    -o-transform      : translateY(30px) scale(1.5) rotate(3deg);
    transform         : translateY(30px) scale(1.5) rotate(3deg);
    */
    color             : rgba(175,54,55,0.4);
    -moz-transform    : scale(1.7) rotate(3deg);
    -webkit-transform : scale(1.7) rotate(3deg);
    -o-transform      : scale(1.7) rotate(3deg);
    transform         : scale(1.7) rotate(3deg);
}

h3.email span.char8:hover
{
    -moz-transform    : none;
    -webkit-transform : none;
    -o-transform      : none;
    transform         : none;
}

h3.email span.char14:hover
{
    -moz-transform    : none;
    -webkit-transform : none;
    -o-transform      : none;
    transform         : none;
}

h3.email span.char20:hover
{
    -moz-transform    : none;
    -webkit-transform : none;
    -o-transform      : none;
    transform         : none;
}

